@page "/"

<PageTitle>Index</PageTitle>

        <center style="margin-top: 125px;">
            <p><img src="\img\SCHIAVELLO_LOGO.png" height="200px" /></p>
        </center>

        <center>
            <p><h3>WELCOME</h3></p>
        </center>
